.Table-Input {
  margin-top: 2%;
  width: 30%;
  padding: 10px;
  text-align: center;
  outline: none;
  transition: 0.5s all linear;
  font-size: 15px;
  border-radius: 20px;
  margin-left: 6%;
}

img {
  width: 5vw;
  height: 5vw;
  cursor: pointer;
}

span {
  margin-left: 2%;
}

.window {
  cursor: pointer;
}

.Menu-container {
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Menu-container > section {
  position: relative;
  left: 45%;
  top: 17%;
  width: 15vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.badge {
  color: yellow !important;
}

.Menu-container > section > span > svg {
  font-size: 30px !important;
  color: white;
}

.Menu-container > section > svg > path {
  font-size: 80px !important;
  color: white;
}

.logout {
  font-size: 30px !important;
}

@media screen and (max-width: 600px) {
  .Table-Container {
    padding-top: 5%;
  }

  .Menu-container {
    width: 70vw;
  }

  .Mui-Table-Container {
    width: 20vw;
    height: 50vw;
  }

  .Menu-container > section > span > svg {
    font-size: 30x !important;
  }

  .Menu-container > section > svg > path {
    font-size: 30px !important;
    color: white;
  }

  .Table-Input {
    margin-top: 1%;
    width: 50%;
    padding: 5px;
    margin-left: 10%;
  }

  td {
    line-height: 0.43 !important;
  }
}
